<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Movie Library</title>
    <meta charset="utf-8">

    <!-- CSS -->  
    
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/image.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>         
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="mainController" style="background-color: darkcyan;">

<h1 style="color: lemonchiffon;" align="center"> Search For Movies </h1>
<form>
    <input id="search" type="search" name="search" placeholder="Movie name" ng-model="movieName"/>
    <ul style="margin: 20px;"><li ng-click="getMovie()"><a class="round yellow">Search<span class="round">Click to get the Movie details</span></a></li></ul>
</form>

<div class="imgbox" ng-show="movieDetail">
<figure class="">
  <img ng-src="{{movieDetail.Poster}}" class="image" ng-show="movieDetail.Response"/>
  <div class="img-overlay" ng-show="movieDetail.Response">
        <div class="details">           
                <h4>Director : {{movieDetail.Director}}</h4>           
                <h4>Language : {{movieDetail.Language}}</h4>           
                <h4>Runtime  : {{movieDetail.Runtime}}</h4>           
                <h4>Genre    : {{movieDetail.Genre}}</h4>           
                <h4>Country    : {{movieDetail.Country}}</h4>           
        </div>
    </div> 
  <figcaption>   
    <div><h1 style="color: white"><b>{{movieDetail.Title}}</b> - {{movieDetail.Year}}</h1>
     <h3 style="color: black" ng-show="movieDetail.Response">Starring:<b><i> {{movieDetail.Actors}}</i></b></h3></div>
  </figcaption>
</figure>
</div>

</body>


</html>