<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Movie Library</title>
    <meta charset="utf-8">

    <!-- CSS -->     
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style1.css">

    <!-- JS -->    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>         
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="libController" style="background-color: darkcyan;">

<h1 style="color: lemonchiffon;" align="center"> Movies in the Library </h1>

<div style="background-color: white; padding: 10px;">

  <a ng-repeat="movies in usermovie">
    <figure>
      <img src="{{movies.Poster}}" alt="">
      <figcaption>
        <h3 style="color: darkblue; text-decoration: none; "><b>{{movies.Title}}</b> - {{movies.Year}} </h3>
                  <h4>Director : {{movies.Director}}</h4>           
                    <h4>Language : {{movies.Language}}</h4>           
                    <h4>Runtime  : {{movies.Runtime}}</h4>           
                    <h4>Genre    : {{movies.Genre}}</h4>           
                    <h4>Country    : {{movies.Country}}</h4> 
                      
      </figcaption>
    </figure>
  </a>

  <h2 ng-model="msg" align="center"> {{msg}}</h2>       
  
  
</div>
<a href="index.html" style="position: fixed; top: 70%; right: 0%;"><img src="img/srch.png" height="100px" width="100px" /> <h4 style="color: black;"><b>Search for Movies</b></h4></a>
</body>


</html>